<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmm.develop.user.dao.UserDao" >
	<insert id="insertOne" parameterType="User" keyProperty="id" useGeneratedKeys="true">
		insert into
		user(
		user_name,
		password,
		phone,
		email,
		sex,
		birth_date,
		head_picture,
		introduction,
		created_time,
		last_login_time)
		values(
		#{userName},
		#{password},
		#{phone},
		#{email},
		#{sex},
		#{birthdate},
		#{introduction},
		#{createdTime},
		#{lastLoginTime})
	</insert>

	<update id="updateOne" parameterType="User">
		update user
		<set>
			<if test="userName!=null">
				user_name=#{userName},
			</if>
			<if test="phone!=null">
				phone=#{phone},
			</if>
			<if test="email!=null">
				email=#{email},
			</if>
			<if test="sex!=-1">
				sex=#{sex},
			</if>
			<if test="birthDatee!=null">
				birth_date=#{birthDate},
			</if>
			<if test="introduction!=null">
				introduction=#{introduction},
			</if>
			<if test="createdTime!=null">
				created_time=#{createdTime},
			</if>
			<if test="userName!=null">
				last_login_time=#{lastLoginTime},
			</if>
		</set>
		where (id=#{id})
	</update>

	<delete id="deleteOne" parameterType="User">
		<if test="id!=null">
			delete from user where id=#{id}
		</if>
	</delete>

	<sql id="queryUserInfo">
		select * from user
	</sql>

	<select id="findOne" parameterType="map" resultType="User">
		<include refid="queryUserInfo"></include>
		<where>
			<choose>
				<when test="id!=null">
					and id=#{id}
				</when>
				<when test="phone!=null">
					and phone=#{phone}
				</when>
				<when test="email!=null">
					and email=#{email}
				</when>
			</choose>
		</where>
	</select>

	<select id="findMulti" parameterType="map" resultType="User">
	</select>
</mapper>